#### import libaries

In [1]:
import pandas as pd

#### load csv

In [2]:
og_data = pd.read_csv('00_world_population.csv')
og_data

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

### checking for missing values

In [3]:
og_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [4]:
og_data.isna().any()

Rank                           False
CCA3                           False
Country                        False
Capital                        False
Continent                      False
2022 Population                False
2020 Population                False
2015 Population                False
2010 Population                False
2000 Population                False
1990 Population                False
1980 Population                False
1970 Population                False
Area (km²)                     False
Density (per km²)              False
Growth Rate                    False
World Population Percentage    False
dtype: bool

### data wrangling and tidying

#### add column: 'Growth from 1970 to 2020'

In [5]:
og_data['Growth from 1970 to 2020'] = og_data['2020 Population'] / og_data['1970 Population']
og_data

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,3.624322
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,1.233196
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,3.149604
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00,1.705965
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00,3.912387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00,1.242935
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01,7.280879
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42,4.717402
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25,4.420637
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20,3.011707

#### unpivot table

In [6]:
data_unpivot = pd.melt(og_data, id_vars= ['Rank', 'CCA3', 'Country', 'Capital', 'Continent', 'Area (km²)', 'Density (per km²)', 'Growth Rate', 'World Population Percentage', 'Growth from 1970 to 2020'], value_vars= ['2022 Population', '2020 Population', '2015 Population', '2010 Population', '2000 Population', '1990 Population', '1980 Population', '1970 Population'])
data_unpivot

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,variable,value
0,36,AFG,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52,3.624322,2022 Population,41128771
1,138,ALB,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,1.233196,2022 Population,2842321
2,34,DZA,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,3.149604,2022 Population,44903225
3,213,ASM,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00,1.705965,2022 Population,44273
4,203,AND,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,3.912387,2022 Population,79824
...,...,...,...,...,...,...,...,...,...,...,...,...
1867,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00,1.242935,1970 Population,9377
1868,172,ESH,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01,7.280879,1970 Population,76371
1869,46,YEM,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42,4.717402,1970 Population,6843607
1870,63,ZMB,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,4.420637,1970 Population,4281671
1871,74,ZWE,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,3.011707,1970 Population,5202918

### clean up: headers

In [7]:
data_unpivot['Year'] = data_unpivot.variable.str.replace(' Population', '')
data_unpivot

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,variable,value,Year
0,36,AFG,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52,3.624322,2022 Population,41128771,2022
1,138,ALB,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,1.233196,2022 Population,2842321,2022
2,34,DZA,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,3.149604,2022 Population,44903225,2022
3,213,ASM,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00,1.705965,2022 Population,44273,2022
4,203,AND,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,3.912387,2022 Population,79824,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1867,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00,1.242935,1970 Population,9377,1970
1868,172,ESH,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01,7.280879,1970 Population,76371,1970
1869,46,YEM,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42,4.717402,1970 Population,6843607,1970
1870,63,ZMB,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,4.420637,1970 Population,4281671,1970
1871,74,ZWE,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,3.011707,1970 Population,5202918,1970

In [6]:
data_unpivot = data_unpivot.rename(columns= {'value': 'Population'})
data_unpivot

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,variable,Population,Year
0,36,AFG,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52,3.624322,2022 Population,41128771,2022
1,138,ALB,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,1.233196,2022 Population,2842321,2022
2,34,DZA,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,3.149604,2022 Population,44903225,2022
3,213,ASM,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00,1.705965,2022 Population,44273,2022
4,203,AND,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,3.912387,2022 Population,79824,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1867,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00,1.242935,1970 Population,9377,1970
1868,172,ESH,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01,7.280879,1970 Population,76371,1970
1869,46,YEM,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42,4.717402,1970 Population,6843607,1970
1870,63,ZMB,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,4.420637,1970 Population,4281671,1970
1871,74,ZWE,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,3.011707,1970 Population,5202918,1970

In [8]:
df = data_unpivot.drop('variable', axis = 1)
df

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,value,Year
0,36,AFG,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52,3.624322,41128771,2022
1,138,ALB,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,1.233196,2842321,2022
2,34,DZA,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,3.149604,44903225,2022
3,213,ASM,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00,1.705965,44273,2022
4,203,AND,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,3.912387,79824,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
1867,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00,1.242935,9377,1970
1868,172,ESH,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01,7.280879,76371,1970
1869,46,YEM,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42,4.717402,6843607,1970
1870,63,ZMB,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,4.420637,4281671,1970
1871,74,ZWE,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,3.011707,5202918,1970

#### sort dataframe

In [9]:
df = df.sort_values(by= ['Rank', 'Year']).reset_index(drop= True)
df

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,value,Year
0,1,CHN,China,Beijing,Asia,9706961,146.8933,1.000,17.88,1.732365,822534450,1970
1,1,CHN,China,Beijing,Asia,9706961,146.8933,1.000,17.88,1.732365,982372466,1980
2,1,CHN,China,Beijing,Asia,9706961,146.8933,1.000,17.88,1.732365,1153704252,1990
3,1,CHN,China,Beijing,Asia,9706961,146.8933,1.000,17.88,1.732365,1264099069,2000
4,1,CHN,China,Beijing,Asia,9706961,146.8933,1.000,17.88,1.732365,1348191368,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
1867,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.998,0.00,0.691489,651,2000
1868,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.998,0.00,0.691489,596,2010
1869,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.998,0.00,0.691489,564,2015
1870,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.998,0.00,0.691489,520,2020
1871,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.998,0.00,0.691489,510,2022

### export whole data frame to csv

In [10]:
df.to_csv('10_world_population_unpivoted.csv', sep=';')

### slicing continental/regional data frames

#### north america

In [10]:
df_north_america = df[df['Continent'] == 'North America'].sort_values(by= ['Rank', 'Year']).reset_index(drop= True)
df_north_america

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,Population,Year
0,3,USA,United States,"Washington, D.C.",North America,9372610,36.0935,1.0038,4.24,1.676957,200328340,1970
1,3,USA,United States,"Washington, D.C.",North America,9372610,36.0935,1.0038,4.24,1.676957,223140018,1980
2,3,USA,United States,"Washington, D.C.",North America,9372610,36.0935,1.0038,4.24,1.676957,248083732,1990
3,3,USA,United States,"Washington, D.C.",North America,9372610,36.0935,1.0038,4.24,1.676957,282398554,2000
4,3,USA,United States,"Washington, D.C.",North America,9372610,36.0935,1.0038,4.24,1.676957,311182845,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
315,230,MSR,Montserrat,Brades,North America,102,43.0392,0.9939,0.00,0.394668,5138,2000
316,230,MSR,Montserrat,Brades,North America,102,43.0392,0.9939,0.00,0.394668,4938,2010
317,230,MSR,Montserrat,Brades,North America,102,43.0392,0.9939,0.00,0.394668,5059,2015
318,230,MSR,Montserrat,Brades,North America,102,43.0392,0.9939,0.00,0.394668,4500,2020
319,230,MSR,Montserrat,Brades,North America,102,43.0392,0.9939,0.00,0.394668,4390,2022

#### south america

In [11]:
df_south_america = df[df['Continent'] == 'South America'].sort_values(by= ['Rank', 'Year']).reset_index(drop= True)
df_south_america

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,Population,Year
0,7,BRA,Brazil,Brasilia,South America,8515767,25.2841,1.0046,2.7,2.212271,96369875,1970
1,7,BRA,Brazil,Brasilia,South America,8515767,25.2841,1.0046,2.7,2.212271,122288383,1980
2,7,BRA,Brazil,Brasilia,South America,8515767,25.2841,1.0046,2.7,2.212271,150706446,1990
3,7,BRA,Brazil,Brasilia,South America,8515767,25.2841,1.0046,2.7,2.212271,175873720,2000
4,7,BRA,Brazil,Brasilia,South America,8515767,25.2841,1.0046,2.7,2.212271,196353492,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
107,231,FLK,Falkland Islands,Stanley,South America,12173,0.3105,1.0043,0.0,1.647757,3080,2000
108,231,FLK,Falkland Islands,Stanley,South America,12173,0.3105,1.0043,0.0,1.647757,3187,2010
109,231,FLK,Falkland Islands,Stanley,South America,12173,0.3105,1.0043,0.0,1.647757,3408,2015
110,231,FLK,Falkland Islands,Stanley,South America,12173,0.3105,1.0043,0.0,1.647757,3747,2020
111,231,FLK,Falkland Islands,Stanley,South America,12173,0.3105,1.0043,0.0,1.647757,3780,2022

#### europe

In [12]:
df_europe = df[df['Continent'] == 'Europe'].sort_values(by= ['Rank', 'Year']).reset_index(drop= True)
df_europe

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,Population,Year
0,9,RUS,Russia,Moscow,Europe,17098242,8.4636,0.9973,1.81,1.119332,130093010,1970
1,9,RUS,Russia,Moscow,Europe,17098242,8.4636,0.9973,1.81,1.119332,138257420,1980
2,9,RUS,Russia,Moscow,Europe,17098242,8.4636,0.9973,1.81,1.119332,148005704,1990
3,9,RUS,Russia,Moscow,Europe,17098242,8.4636,0.9973,1.81,1.119332,146844839,2000
4,9,RUS,Russia,Moscow,Europe,17098242,8.4636,0.9973,1.81,1.119332,143242599,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
395,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.9980,0.00,0.691489,651,2000
396,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.9980,0.00,0.691489,596,2010
397,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.9980,0.00,0.691489,564,2015
398,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.9980,0.00,0.691489,520,2020
399,234,VAT,Vatican City,Vatican City,Europe,1,510.0000,0.9980,0.00,0.691489,510,2022

#### africa

In [13]:
df_africa = df[df['Continent'] == 'Africa'].sort_values(by= ['Rank', 'Year']).reset_index(drop= True)
df_africa

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,Population,Year
0,6,NGA,Nigeria,Abuja,Africa,923768,236.5759,1.0241,2.74,3.748968,55569264,1970
1,6,NGA,Nigeria,Abuja,Africa,923768,236.5759,1.0241,2.74,3.748968,72951439,1980
2,6,NGA,Nigeria,Abuja,Africa,923768,236.5759,1.0241,2.74,3.748968,95214257,1990
3,6,NGA,Nigeria,Abuja,Africa,923768,236.5759,1.0241,2.74,3.748968,122851984,2000
4,6,NGA,Nigeria,Abuja,Africa,923768,236.5759,1.0241,2.74,3.748968,160952853,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
451,196,SYC,Seychelles,Victoria,Africa,452,236.9867,1.0061,0.00,1.940639,80060,2000
452,196,SYC,Seychelles,Victoria,Africa,452,236.9867,1.0061,0.00,1.940639,92409,2010
453,196,SYC,Seychelles,Victoria,Africa,452,236.9867,1.0061,0.00,1.940639,99240,2015
454,196,SYC,Seychelles,Victoria,Africa,452,236.9867,1.0061,0.00,1.940639,105530,2020
455,196,SYC,Seychelles,Victoria,Africa,452,236.9867,1.0061,0.00,1.940639,107118,2022

#### asia

In [14]:
df_asia = df[df['Continent'] == 'Asia'].sort_values(by= ['Rank', 'Year']).reset_index(drop= True)
df_asia

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,Population,Year
0,1,CHN,China,Beijing,Asia,9706961,146.8933,1.0000,17.88,1.732365,822534450,1970
1,1,CHN,China,Beijing,Asia,9706961,146.8933,1.0000,17.88,1.732365,982372466,1980
2,1,CHN,China,Beijing,Asia,9706961,146.8933,1.0000,17.88,1.732365,1153704252,1990
3,1,CHN,China,Beijing,Asia,9706961,146.8933,1.0000,17.88,1.732365,1264099069,2000
4,1,CHN,China,Beijing,Asia,9706961,146.8933,1.0000,17.88,1.732365,1348191368,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
395,175,BRN,Brunei,Bandar Seri Begawan,Asia,5765,77.8841,1.0081,0.01,3.312697,333926,2000
396,175,BRN,Brunei,Bandar Seri Begawan,Asia,5765,77.8841,1.0081,0.01,3.312697,396053,2010
397,175,BRN,Brunei,Bandar Seri Begawan,Asia,5765,77.8841,1.0081,0.01,3.312697,421437,2015
398,175,BRN,Brunei,Bandar Seri Begawan,Asia,5765,77.8841,1.0081,0.01,3.312697,441725,2020
399,175,BRN,Brunei,Bandar Seri Begawan,Asia,5765,77.8841,1.0081,0.01,3.312697,449002,2022

#### ociania

In [47]:
df_oceania = df[df['Continent'] == 'Oceania'].sort_values(by= ['Rank', 'Year']).reset_index(drop= True)
df_oceania

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,Population,Year
0,55,AUS,Australia,Canberra,Oceania,7692024,3.4032,1.0099,0.33,2.038109,12595034,1970
1,55,AUS,Australia,Canberra,Oceania,7692024,3.4032,1.0099,0.33,2.038109,14706322,1980
2,55,AUS,Australia,Canberra,Oceania,7692024,3.4032,1.0099,0.33,2.038109,17048003,1990
3,55,AUS,Australia,Canberra,Oceania,7692024,3.4032,1.0099,0.33,2.038109,19017963,2000
4,55,AUS,Australia,Canberra,Oceania,7692024,3.4032,1.0099,0.33,2.038109,22019168,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
179,233,TKL,Tokelau,Nukunonu,Oceania,12,155.9167,1.0119,0.00,1.065928,1666,2000
180,233,TKL,Tokelau,Nukunonu,Oceania,12,155.9167,1.0119,0.00,1.065928,1367,2010
181,233,TKL,Tokelau,Nukunonu,Oceania,12,155.9167,1.0119,0.00,1.065928,1454,2015
182,233,TKL,Tokelau,Nukunonu,Oceania,12,155.9167,1.0119,0.00,1.065928,1827,2020
183,233,TKL,Tokelau,Nukunonu,Oceania,12,155.9167,1.0119,0.00,1.065928,1871,2022

#### european union

In [37]:
eu = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']
df_european_union = df.loc[df.Country.isin(eu),:]
df_european_union

,Rank,CCA3,Country,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Growth from 1970 to 2020,Population,Year
144,19,DEU,Germany,Berlin,Europe,357114,233.4544,0.9995,1.05,1.064301,78294583,1970
145,19,DEU,Germany,Berlin,Europe,357114,233.4544,0.9995,1.05,1.064301,77786703,1980
146,19,DEU,Germany,Berlin,Europe,357114,233.4544,0.9995,1.05,1.064301,79370196,1990
147,19,DEU,Germany,Berlin,Europe,357114,233.4544,0.9995,1.05,1.064301,81551677,2000
148,19,DEU,Germany,Berlin,Europe,357114,233.4544,0.9995,1.05,1.064301,81325090,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
1379,173,MLT,Malta,Valletta,Europe,316,1687.6139,1.0124,0.01,1.633907,399212,2000
1380,173,MLT,Malta,Valletta,Europe,316,1687.6139,1.0124,0.01,1.633907,418755,2010
1381,173,MLT,Malta,Valletta,Europe,316,1687.6139,1.0124,0.01,1.633907,456579,2015
1382,173,MLT,Malta,Valletta,Europe,316,1687.6139,1.0124,0.01,1.633907,515357,2020
1383,173,MLT,Malta,Valletta,Europe,316,1687.6139,1.0124,0.01,1.633907,533286,2022

##### check if all members are included

In [46]:
if len(eu) == df_european_union.Country.nunique():
    print('all good')

all good

### export regional data frames to csv

In [50]:
df_north_america.to_csv('01_north_american_population_unpivoted.csv', sep=';')
df_south_america.to_csv('02_south_american_population_unpivoted.csv', sep=';')
df_europe.to_csv('03_european_population_unpivoted.csv', sep=';')
df_africa.to_csv('04_african_population_unpivoted.csv', sep=';')
df_asia.to_csv('05_asian_population_unpivoted.csv', sep=';')
df_oceania.to_csv('06_oceanian_population_unpivoted.csv', sep=';')
df_european_union.to_csv('07_european_union_population_unpivoted.csv', sep=';')